.button {
  background-color: #ffffff; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 16px;
  color: rgb(0, 0, 0); /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 1rem; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.button-sm {
  background-color: rgb(219, 60, 54); /* Blue background */
  border: none; /* Remove borders */
  border-radius: 16px;
  color: rgb(255, 255, 255); /* White text */
  padding: 8px 10px; /* Some padding */
  font-size: 0.8rem; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.button-sm:hover {
  background-color: rgb(200, 60, 54);
}

.button:hover {
  background-color: #f0f0f0; /* Darken the button on hover */
}

.member-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.3rem;
}

.member-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
