---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.astro";
import Timeline from "../components/Timeline.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import CaseStudies from "../components/CaseStudies.astro";

const timelineData = [
  {
    date: "31st December 2024",
    title: "Registration",
    content:
      "The registration Deadline is by 31st of December 2024. If not, you are screwed!",
  },
  {
    date: "1st January 2025",
    title: "Case Study Release",
    content:
      "The Case studies will be launched. Be sure to catch it on our website! By then you can start doing your prototype already",
  },
  {
    date: "1st January 2025",
    title: "Thinking Time!",
    content: "Code faster fast fast fast fast fast fast fast fast fast",
  },
  {
    date: "2nd January 2025",
    title: "Submission Deadline",
    content:
      "The deadline to submit your prototype will be on the very next day. We will then send it to the judges to evaluate.",
  },
  {
    date: "3rd January 2025",
    title: "Result Announcement",
    content: "Results will be announced. Yippee!!!",
  },
];

const faqItems = [
  {
    question: "What is a hackathon?",
    answer: "A hackathon is an event where participants collaborate to create innovative solutions to a given problem, often within a set time frame, such as 24-48 hours. It involves coding, brainstorming, and working together as a team."
  },
  {
    question: "Who can participate in the hackathon?",
    answer: "The hackathon is open to all university students, regardless of their major. Participants can join as individuals or form teams with other students."
  },
  {
    question: "Do I need to have prior coding experience?",
    answer: "No, prior coding experience is not mandatory. Hackathons encourage creativity and teamwork, and there will be mentors available to guide participants with different levels of experience."
  },
  {
    question: "Can I work on the project after the hackathon ends?",
    answer: "Yes, you can continue working on your project after the hackathon. However, the official judging and prize awarding will happen at the end of the event."
  },
  {
    question: "How do I register for the hackathon?",
    answer: "Registration details will be available on the event website. You can register as an individual or as a team, and you will need to submit your details before the registration deadline."
  },
  {
    question: "What should I bring to the hackathon?",
    answer: "Bring your laptop, charger, and any other tools or software you may need for coding. We will provide food, drinks, and other essentials during the event."
  },
  {
    question: "Is there a registration fee?",
    answer: "No, the hackathon is free to attend. However, you may need to register in advance, and spots could be limited."
  },
  {
    question: "Are there any prizes?",
    answer: "Yes, there will be prizes for the top teams based on creativity, functionality, and impact of their projects. More details on prizes will be shared closer to the event."
  },
  {
    question: "Can I attend the hackathon if I’m not part of the university?",
    answer: "This hackathon is exclusively for university students. However, we welcome students from all majors and backgrounds to participate!"
  },

];


const targetDate = new Date("2023-12-31T19:36:40");

const currentDate = new Date();

const showCaseStudies = currentDate < targetDate;
---

<Layout title="VeeHac">
  <NavBar backgroundColor="#827BD2" />
  <div class="body">
    <div>
      <div class="title-tagline">
        <p style="font-size: 48px;">what's your favourite</p>
        <p style="font-size: 168px; font-weight: 900; margin-top: -40px;">
          IDEA?
        </p>
      </div>
      <div class="title-circle"></div>
      <div class="title-mascot">
        <img src="/mascot.png" alt="man" />
      </div>
      <div class="title-content-left">
        <p>Veehac 2025</p>
      </div>
      <div class="title-content-right">
        <p>
          Do you have good ideas?<br/>Then join us now!
        </p>
      </div>
    </div>
    <div class="about">
      <div class="about-content">
        <div>
          <p style="font-size: 36px;">ABOUT US</p>
        </div>
        <div>
          <p style="font-size: 48px; font-weight: 900; color: #89AFFF;">
            CODE, CREATE, COLLAB
          </p>
        </div>
        <div class="about-paragraph">
          We are HTML (Help and Tips for Machine Learning) Society in USM. This
          is our first hackathon! We are excited to see what you can come up
          with and are looking for innovative ideas that can change the world.
        </div>
      </div>{
        showCaseStudies ? (
          <Countdown targetDate={targetDate} />
        ) : (
          <CaseStudies />
        )
      }
    </div>
    <div class="timeline" id="timeline">
      <div><p style="font-size: 36px;">TIMELINE</p></div>
      <Timeline timelineData={timelineData} />
    </div>
    <div class="faq" id="faq">
      <div><p style="font-size: 36px;">FAQ</p></div>
      <FAQ items={faqItems} />
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .body {
    font-family: "Chesna Grotesk";
    background: linear-gradient(#827bd2 0px, #433f6c 70vh);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .title-tagline {
    display: flex;
    flex-direction: column;
    color: #faf9f6;
    text-align: center;
  }
  .title-circle {
    background-color: #433f6c;
    min-width: 950px;
    min-height: 500px;
    border-radius: 999px 999px 0 0;
    position: relative;
    bottom: 50px;
  }
  .title-mascot {
    align-items: center;
    justify-content: center;

    display: flex;
    position: absolute;
    top: 250px;
  }
  .title-mascot img {
    width: 700px;
    position: relative;
    left: 100px;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  .title-content-left {
    display: flex;
    position: absolute;
    top: 600px;
    left: 25vh;
    font-weight: 900;
    font-size: 48px;
    width: 300px;
    text-align: center;
  }

  .title-content-right {
    display: flex;
    position: absolute;
    text-align: center;
    top: 600px;
    right: 25vh;
    width: 300px;
  }
  @media only screen and (max-width: 1100px) {
  .title-content-left {
    top: 500px;width: 100vw;
    left:0;
    justify-content: center;
  }

    .title-content-right {
    top: 600px;width: 100vw;
    left:0;
    justify-content: center;
  }
  .title-content-right p{
    width:300px;
  }
}
  /* abouts */

  .about {
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-paragraph {
    text-align: center;
    max-width: 1000px;
  }
  .about-content {
    margin-bottom: 40px;
  }

  /* timeline */
  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* FAQ */
  .faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
</style>
