---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.astro";
import Timeline from "../components/Timeline.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import CaseStudies from "../components/CaseStudies.astro";

const faqItems = [
  {
    question: "What is the Skibidi Toilet?",
    answer:
      "Skibidi Toilet is a meme where people mimic a dance move that looks like an exaggerated version of using the toilet. It's one of those strange yet hilarious trends that captured the internet's attention.",
  },
  {
    question: "Who is Hawk Tuah?",
    answer:
      "Hawk Tuah is a fictional character who has gained a following in online communities. He's a blend of traditional folklore and modern internet culture, often portrayed as a humorous and heroic figure.",
  },
  {
    question: "What is 'Thick of it' by KSI?",
    answer:
      "'Thick of it' is a song by KSI, a popular YouTuber turned musician. The term is also used to describe being deeply involved in a complicated situation, similar to being in the midst of chaos.",
  },
];

const targetDate = new Date("2024-11-10T19:36:40");

const currentDate = new Date();

const showCaseStudies = currentDate < targetDate;
---

<Layout title="VeeHac">
  <NavBar backgroundColor="#827BD2" />
  <div class="body">
    <div>
      <div class="title-tagline">
        <p style="font-size: 48px;">what's your favourite</p>
        <p style="font-size: 168px; font-weight: 900; margin-top: -40px;">
          IDEA?
        </p>
      </div>
      <div class="title-circle"></div>
      <div class="title-mascot">
        <img src="/mascot.png" alt="man" />
      </div>
      <div class="title-content-left">
        <p>Veehac 2025</p>
      </div>
      <div class="title-content-right">
        <p>
          Do you have good ideas? then join this hackathon where we peeepeepoooo
        </p>
      </div>
    </div>
    <div class="about">
      <div class="about-content">
        <div>
          <p style="font-size: 36px;">ABOUT US</p>
        </div>
        <div>
          <p style="font-size: 48px; font-weight: 900; color: #89AFFF;">
            SKIBIDI. OHIO. GYAT.
          </p>
        </div>
        <div class="about-paragraph">
          We are HTML (Help and Tips for Machine Learning) Society in USM. This
          is our first hackathon! We are definitely not stealing ANYTHING for
          VHack!
        </div>
      </div>{showCaseStudies ? <Countdown /> : <CaseStudies />}
    </div>
    <div class="timeline">
      <div><p style="font-size: 36px;">TIMELINE</p></div>
      <Timeline />
    </div>
    <div class="faq">
      <div><p style="font-size: 36px;">FAQ</p></div>
      <FAQ items={faqItems} />
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .body {
    font-family: "Chesna Grotesk";
    background: linear-gradient(#827bd2 0px, #433f6c 80vh);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .title-tagline {
    display: flex;
    flex-direction: column;
    color: #faf9f6;
    text-align: center;
  }
  .title-circle {
    background-color: #433f6c;
    min-width: 950px;
    min-height: 500px;
    border-radius: 999px 999px 0 0;
    position: relative;
    bottom: 50px;
  }
  .title-mascot {
    align-items: center;
    justify-content: center;

    display: flex;
    position: absolute;
    top: 250px;
  }
  .title-mascot img {
    width: 700px;
    position: relative;
    left: 100px;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  .title-content-left {
    display: flex;
    position: absolute;
    top: 75vh;
    left: 25vh;
    font-weight: 900;
    font-size: 48px;
    width: 300px;
  }
  .title-content-right {
    display: flex;
    position: absolute;
    text-align: center;
    top: 75vh;
    right: 25vh;
    width: 300px;
  }
  /* abouts */

  .about {
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-paragraph {
    text-align: center;
    max-width: 1000px;
  }
  .about-content {
    margin-bottom: 40px;
  }

  /* timeline */
  .timeline {
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* FAQ */
  .faq {
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
</style>
