---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.astro";
---

<Layout title="VeeHac">
  <NavBar backgroundColor="#827BD2" />
  <div class="body">
    <div>
      <div class="title-tagline">
        <p style="font-size: 48px;">what's your favourite</p>
        <p style="font-size: 168px; font-weight: 900; margin-top: -40px;">
          IDEA?
        </p>
      </div>
      <div class="title-circle"></div>
      <div class="title-mascot">
        <img src="https://i.ibb.co/3yCY3GY/mascot.png" alt="man" />
      </div>
    </div>
    <div class="about">
      <div>
        <p style="font-size: 36px;">ABOUT US</p>
      </div>
      <div>
        <p style="font-size: 48px; font-weight: 900; color: #89AFFF;">
          WHAT THE FCUK SHOULD THIS BE
        </p>
      </div>
      <div class="about-paragraph">
        We are HTML (Help and Tips for Machine Learning) Society in USM. This is
        our first hackathon! We are definitely not stealing ANYTHING for VHack!
      </div>
    </div>
    <Countdown />
  </div>
</Layout>

<style>
  .body {
    font-family: "Chesna Grotesk";
    background: linear-gradient(#827bd2 0px, #433f6c 80vh);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .title-tagline {
    display: flex;
    flex-direction: column;
    color: #faf9f6;
    text-align: center;
  }
  .title-circle {
    background-color: #433f6c;
    min-width: 950px;
    min-height: 950px;
    border-radius: 999px;
    position: relative;
    bottom: 50px;
  }
  .title-mascot {
    align-items: center;
    justify-content: center;

    display: flex;
    position: absolute;
    top: 250px;
  }
  .title-mascot img {
    width: 700px;
    position: relative;
    left: 100px;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  /* abouts */

  .about {
    position: absolute;
    top: 1000px;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  .about-paragraph {
    text-align: center;
    max-width: 1000px;
  }
</style>
