---
import Layout from "../layouts/Layout.astro";
import JudgeDashboardParent from "../components/JudgeDashboardParent";
---

<script>

</script>

<Layout title="VeeHac">
  <div class="body">
    <div class="judge-div">
    <JudgeDashboardParent client:load />
  </div>
</div>
</Layout>

<script>
  import { doc, getDoc } from "firebase/firestore";
  import { auth, db } from "../firebase";
  
    document.addEventListener('DOMContentLoaded', function() {
      auth.onAuthStateChanged((user) => {
        if (!user) {
          window.location.href = "/login";
        } else {
          getDoc(doc(db, "judges", user.uid)).then((doc) => {
            if (!doc.exists()) {
              alert("You are not authorized to access this page!");
              window.location.href = "/login";
            }
          });
        }
      });
    });
</script>

<style>
  .body {
    font-family: "Chesna Grotesk";
    margin: 0;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    height: auto;
    background-color: #433f6c;
    /* display: flex;
    justify-content: center; */

 
  }
  .judge-div{
    min-height: 100vh;
    display: inline-flex;;
    align-items: center;
    justify-content: center; 
    background-color: #433f6c;
  }

</style>
