---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import CaseStudiesDownload from "../components/CaseStudiesDownload.jsx";
import TeamInfo from "../components/TeamInfo.astro";
import ProjectSubmission from "../components/ProjectSubmission.astro";

const title = "Participant Dashboard";
---

<Layout title="VeeHac">
  <NavBar backgroundColor="#827BD2" />
  <div class="body">
    <div class="rectangle-container">
      <CaseStudiesDownload client:load />
      <TeamInfo />
      <ProjectSubmission />
    </div>
  </div>
  <Footer />
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (localStorage.getItem('role') !== 'participant') {
      window.location.href = '/login';
    }
  });
</script>

<style>
  .body {
    font-family: "Chesna Grotesk";
    background: linear-gradient(#827bd2 0px, #433f6c 80vh);
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .rectangle-container {
    background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
  display: flex;
  flex-direction: column; /* Arrange child elements in a column */
  gap: 20px; /* Add space between child elements */
  }
</style>
