---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import ProjectSubmissionForm from '../components/ProjectSubmissionForm.astro';


const title = "Project Submission";
---

<Layout title="VeeHac">
    <NavBar backgroundColor="#827BD2" />
    <div class="body">
        <ProjectSubmissionForm />
      </div>
    <Footer />
  </Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("project-form");
    form.addEventListener("submit", (event) => {
      event.preventDefault();

      const caseStudy = document.getElementById("case_study").value;
      const videoLink = document.getElementById("vid_link").value;
      const prototypeLink = document.getElementById("proto_link").value;

      console.log("Project Title:", caseStudy);
      console.log("Description:", videoLink);
      console.log("Case Study:", prototypeLink);

      // Add your form submission logic here
    });
  });
</script>

<style>
    .body {
    font-family: "Chesna Grotesk";
    background: linear-gradient(#827bd2 0px, #433f6c 80vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .container {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
  }

  .back-link {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
    position: relative;
  }
</style>