---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register">
  <main>
    <div id="register-container">
      <a href="/" id="return-homepage">
        <Icon size={24} name="fa6-solid:arrow-right-from-bracket" /> Return to Homepage
      </a>
      <h1>Register.</h1>
      <form id="form">
        <div class="input-row">
          <Icon size={24} name="fa6-solid:user" />
          <input type="text" id="name" name="name" placeholder="Full Name" required />
        </div>
        <div class="input-row">
          <Icon size={24} name="fa6-solid:envelope" />
          <input type="email" id="email" name="email" placeholder="Email" required />
        </div>
        <div class="input-row">
          <Icon size={24} name="fa6-solid:lock" />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="input-row">
          <Icon size={24} name="fa6-solid:lock" />
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <button type="submit">Register</button>
        <div id="register">
          <p>Have an account?</p>
          <a href="/login">Login here</a>
        </div>
      </form>
    </div>
  </main>
</Layout>

<script>
  import { createUserWithEmailAndPassword, sendEmailVerification } from "firebase/auth";
  import { auth, db } from "../firebase";
  import { doc, setDoc } from "firebase/firestore";
  import Swal from 'sweetalert2';

  document.querySelector("#form")?.addEventListener("submit", (e) => {
    e.preventDefault();

    const name = (document.querySelector("#name") as HTMLInputElement).value;
    const email = (document.querySelector("#email") as HTMLInputElement).value;
    const password = (document.querySelector("#password") as HTMLInputElement).value;
    const confirmPassword = (document.querySelector("#confirm-password") as HTMLInputElement).value;

    if (password !== confirmPassword) {
      alert("Passwords do not match!");
      return;
    }

    console.log(name, email, password);

    Swal.fire({
      title: 'Registering...',
      text: 'Please wait while we create your account.',
      allowOutsideClick: false,
      didOpen: () => {
      Swal.showLoading();
      }
    });

    createUserWithEmailAndPassword(auth, email, password)
      .then((userCredential) => {
      console.log("User registered successfully!");
      const user = userCredential.user;
      console.log(user);
      sendEmailVerification(user)
        .then(() => {
        console.log("Email verification sent!");

        setDoc(doc(db, "participant", user.uid), {
          name: name,
          email: email,
        }).then(() => {
          Swal.fire({
          icon: 'success',
          title: 'Registration Successful',
          text: 'Email verification sent! Please verify your email to login.',
          }).then(() => {
          window.location.href = "/login";
          });
        });
        
        })
        .catch((error) => {
        console.log(error);
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: `Error: ${error.message}`,
        });
        });
      })
      .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
      console.log(errorCode, errorMessage);
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: `Error: ${errorMessage}`,
      });
      });
    });
</script>

<style>
  body {
    background-color: #433f6c;
  }

  p {
    margin: 0;
  }

  a {
    color: #a4a4a4;
    font-weight: 300;
    text-decoration: none;
  }

  main {
    min-height: 100vh;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
  }

  .input-row {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  #return-homepage {
    color: #a4a4a4;
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 300;
    width: fit-content;
    margin-bottom: 4px;
  }

  [data-icon] {
    color: #a4a4a4;
  }

  [data-icon="fa6-solid:arrow-right-from-bracket"] {
    transform: rotate(180deg);
  }

  h1 {
    font-weight: 900;
    margin-top: 0;
  }

  #register-container {
    background-color: #faf9f6;
    width: 400px;
    display: flex;
    align-self: center;
    border-radius: 8px;
    padding: 80px 100px;

    flex-direction: column;
  }

  #register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
  }

  #register p {
    color: #a4a4a4;
  }

  #register a {
    color: #ff8385;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  input {
    padding: 12px;
    border: 1px solid #a4a4a4;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    background-color: inherit;
    height: 14px;
    width: 100%;
  }

  button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 300;
    font-size: 20px;
    background-color: #433f6c;
    color: #faf9f6;
    cursor: pointer;
    margin-top: 24px;
  }
</style>
