---
const { targetDate } = Astro.props;
---


  <main>
    <div style="font-size: 36px;">Register before<br><span style="font-size: 48px; font-weight:900">31st December 2024!!</span></div>
    <div id="countdown" class="countdown">
      <div class="time">
        <h2 class="text-gradient" id="days">00</h2>
        <small>days</small>
      </div>
      <div class="time">
        <h2 class="text-gradient" id="hours">00</h2>
        <small>hours</small>
      </div>
      <div class="time">
        <h2 class="text-gradient" id="minutes">00</h2>
        <small>minutes</small>
      </div>
      <div class="time">
        <h2 class="text-gradient" id="seconds">00</h2>
        <small>seconds</small>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 360px;
  }

  .text-container {
    width: auto;
    max-width: 700px;
    text-align: center;
    & h1 {
      margin: 0;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 3.5rem;
      color: #20a4c5;
    }
    & h2 {
      margin: 0;
      font-weight: 600;
      font-size: 2.5rem;
      color: #20a4c5;
    }
  }

  .countdown {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    .time {
      display: flex;
      width: 150px;
      flex-direction: column;
      align-items: center;
      background-color: #faf9f6;
      border-radius: 10px;
      & h2 {
        margin: 10px 0;
        font-size: 6.5rem;
        color: #433f6c;
      }
      & small {
        font-size: 1.8rem;
        font-weight: 500;
        color: #433f6c;
      }
    }
  }

  @keyframes color {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<script define:vars={{targetDate}}>
  document.addEventListener("DOMContentLoaded", () => {
    const days = document.getElementById("days")
    const hours = document.getElementById("hours")
    const minutes = document.getElementById("minutes")
    const seconds = document.getElementById("seconds")

    // Target date: January 1st, 2025
    const targetTime = new Date(targetDate)
    let diff = targetTime.getTime() - new Date().getTime()

    const updateCountdown = () => {
      const remainingDays = Math.max(Math.floor(diff / 1000 / 60 / 60 / 24))
      const remainingHours = Math.max(Math.floor(diff / 1000 / 60 / 60) % 24)
      const remainingMinutes = Math.max(Math.floor(diff / 1000 / 60) % 60)
      const remainingSeconds = Math.max(Math.floor(diff / 1000) % 60)

      if (remainingDays === 0 && remainingHours === 0 && remainingMinutes === 0 && remainingSeconds === 0) {
        // Countdown has reached zero
        clearInterval(countdownInterval)
      }

      days.innerHTML = remainingDays
      hours.innerHTML = remainingHours < 10 ? "0" + remainingHours : remainingHours
      minutes.innerHTML = remainingMinutes < 10 ? "0" + remainingMinutes : remainingMinutes
      seconds.innerHTML = remainingSeconds < 10 ? "0" + remainingSeconds : remainingSeconds
    }

    const countdownInterval = setInterval(() => {
      updateCountdown()
      diff -= 1000
      if (diff < 0) {
        diff = 0 // Ensure diff doesn't go negative
      }
    }, 1000)
  })
</script>
