---

---

<footer class="footer">
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/nyshung/veehac" target="_blank" class="social-icon">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="social-icon">
          <i class="fab fa-onlyfans-in"></i>
        </a>
      </div>
  
      <div class="footer-links">
        <a href="/timeline" class="footer-link">Timeline</a>
        <a href="/faq" class="footer-link">FAQ</a>
        <a href="/winners" class="footer-link">Winners</a>
        <a href="/about" class="footer-link">About</a>
        <a href="/login" class="footer-link">Login</a>
      </div>
      <div style="width:100%; text-align: left">
        Made For Dr Anusha's Viewing only for CMT322
    </div>
    </div>

  </footer>
  
  <style>

    .footer {
      background-color: #000;
      color: #faf9f6;
      padding: 20px 0;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Chesna Grotesk';
    }
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      width: 80%;
      max-width: 1200px;
      flex-wrap: wrap;
      align-items: center;
      padding: 20px;
    }
  
    .social-icons {
      display: flex;
      gap: 15px;
    }
  
    .social-icon {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      transition: color 0.3s ease;
    }
  
    .social-icon:hover {
      color: #ccc;
    }
  
    .footer-links {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  
    .footer-link {
      color: #faf9f6;
      text-decoration: none;
      transition: color 0.3s ease;
    }
  
    .footer-link:hover {
      color: #faf9f6;
    }
  </style>

  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  </head>
  