---
const projects = [
  {
    id: 1,
    name: "Project 1",
    group: "Then Sherf Low",
    title: "Tik Tok Tutorial with AI",
    judged: true,
  },
  {
    id: 2,
    name: "Project 2",
    group: "Jarver Skrip",
    title: "Smart Energy Management",
    judged: false,
  },
  {
    id: 3,
    name: "Project 3",
    group: "Viewjay Ash",
    title: "Automated Judging System",
    judged: false,
  },
];
import RatingSlider from "./RatingSlider.astro";
---

<div style="display:inline-flex;">
  <div class="judge-project-card">
    <div style="font-size: 13px; font-weight: 500;">
      <a>Back to Dashboard</a>
      <p><span style="font-weight: 200">Dashboard/</span>Project Information</p>
      <hr />
    </div>

    <div>
      <div class="project-information">
        <p style="font-size: 24px;font-weight: 600;">Project Information</p>
      </div>

      <div class="project-title">
        <div>
          <p>Project Title</p>
          <textarea disabled style="height: 30px;">spolskfdnfmfdnbfg</textarea>
        </div>
        <div class="project-description">
          <p>Description</p>
          <textarea disabled style="height:300px">spolskfdnfmfdnbfg </textarea>
        </div>
        <div class="project-case-study">
          <p>Case Study</p>
          <textarea disabled style="height:30px">spolskfdnfmfdnbfg</textarea>
        </div>
        <div class="project-presentation-video">
          <p>Presentation Video</p>
          <iframe
            width="100%"
            height="365"
            src="https://www.youtube.com/embed/tgbNymZ7vqY"
          >
          </iframe>
        </div>
        <div class="project-prototype">
          <div class="go-to-prototype">
            <p>Go to Prototype</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="judge-rating-card">
    <div>
      <p style="font-size: 24px; font-weight: 600;">Judging</p>
    </div>
    <div class="judge-rating-slider">
      <p style="font-size: 16px; font-weight: 500;">Idea Impact</p>
      <RatingSlider />
    </div>
    <div class="judge-rating-slider">
      <p style="font-size: 16px; font-weight: 500;">Idea Novelty/ Uniqueness</p>
      <RatingSlider />
    </div>
    <div class="judge-rating-slider">
      <p style="font-size: 16px; font-weight: 500;">Business</p>
      <RatingSlider />
    </div>
    <div class="judge-rating-slider">
      <p style="font-size: 16px; font-weight: 500;">Prototype UI Design</p>
      <RatingSlider />
    </div>
    <div class="judge-rating-slider">
      <p style="font-size: 16px; font-weight: 500;">Pitching</p>
      <RatingSlider />
    </div>

    <div class="project-comments">
      <p>Description</p>
      <textarea style="height:200px"></textarea>
    </div>
    <div>
      <div class="submit">
        <p>Submit</p>
      </div>
    </div>
  </div>
</div>
<style>
  .body {
    width: 100%;
  }

  .judge-project-card {
    background-color: #faf9f6;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
  }

  .judge-rating-card {
    background-color: #faf9f6;
    width: 400px;
    height: calc(100vh - 80px) !important;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    position: sticky;
    top: 10px;
  }

  .project-information,
  .project-title,
  .project-description,
  .project-case-study,
  .project-presentation-video,
  .project-prototype,
  .judge-rating-card,
  .submit,
   {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* .judge-rating-slider{
    margin-top: 5px;
    margin-bottom: 5px;
  } */

  p {
    font-family: "Chesna Grotesk";
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  textarea {
    display: flex;
    font-family: "Chesna Grotesk";
    resize: none;
    width: 100%;
    border-radius: 10px;
    color: #000;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  .go-to-prototype,
  .submit {
    justify-items: center;
    align-content: center;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 10px;
  }
  .submit:hover {
    background-color: #d3d3d3;
  }
  .submit{
    margin-top: 10px;
  }
</style>
<head>
  <script
    src="https://kit.fontawesome.com/1ce99b1531.js"
    crossorigin="anonymous"></script>
</head>
