---
import "../styles/font.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script
      src="https://kit.fontawesome.com/1ce99b1531.js"
      crossorigin="anonymous"></script>
  </body>
</html>
<style is:global>
  body {
    margin: 0;
    font-family: "Chesna Grotesk", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
</style>
